/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

a {
  text-decoration: none;
  color: black;
}

.active-link {
  font-size: 1.3rem;
  color:blue;
}

header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.update {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.update-button {
  width: max-content;
  background-color: rgb(41, 194, 41);
  border-radius: 5px;
}

.delete-button  {
  margin-top: 10px;
  background-color: red;
  border-radius: 5px;
}

.nav-link {
  padding: 10px;
  border: solid 2px black;
  margin: 10px;
  border-radius: 5px;
  background-color: indigo;
  color: lightcyan;
}

.create {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-button {
  width: max-content;
}